.app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column
}

main {
  flex: 1
}

@keyframes sk {
  0% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}